@font-face {
  font-family: "Montserrat";
  src: url('../assets/fonts/fira/Montserrat-Bold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../assets/fonts/fira/Montserrat-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../assets/fonts/fira/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}